body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3e2c7 0%, #b68d4c 38%, #b68d4c 38%, #c19e67 50%, #e9d4b3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f3e2c7 0%,#b68d4c 38%,#b68d4c 38%,#c19e67 50%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f3e2c7 0%,#b68d4c 38%,#b68d4c 38%,#c19e67 50%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
    
}

header, main{
    background-color: #fffaf0;
}

/* IMAGES */
.icons{
    height: 50px;
    width: 50px;
}

.des{
    height: 30%;
    width: 30%;
    margin:auto;
}

/* POSITIONNEMENT */

.newGamePart{
    display :flex;
    justify-content: center;
}

main{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.playerPart{
    display:flex;
    justify-content: space-around;
    margin: 30px;
}

.iconPart{
    display:flex;
    flex-direction: column;
    align-items: center;

}

  
/* REGLAGES BOUTON */

.newGame {
    margin: 10px;
}

h2 {
    font-size: 55px;
}

/* FONT */
.score1, .score2, .scoreCurrent1, .scoreCurrent2 {
    font-size: 50px;
    text-align: center;
}

.currentLeft, .currentRight {
    font-size: 30px;
    text-align: center;
}

